# https://docs.microsoft.com/azure/devops/pipelines/languages/go
pool:
  vmImage: 'ubuntu-16.04' # Other options: 'macOS-10.13', 'vs2017-win2016'

variables:
  GOBIN:  '$(GOPATH)/bin' # Go binaries path
  GOROOT: '/usr/local/go1.11' # Go installation path
  GOPATH: '$(system.defaultWorkingDirectory)/gopath' # Go workspace path
  modulePath: '$(GOPATH)/src/github.com/$(build.repository.name)' # Path to the module's code

steps:
- script: |
    mkdir -p '$(GOBIN)'
    mkdir -p '$(GOPATH)/pkg'
    mkdir -p '$(modulePath)'
    shopt -s extglob
    mv !(gopath) '$(modulePath)'
    echo '##vso[task.prependpath]$(GOBIN)'
    echo '##vso[task.prependpath]$(GOROOT)/bin'
  displayName: 'Set up the Go workspace'

- script: find . -type f \( -iname "*.go" \) | xargs -n1 -I {} sh -c 'ff="{}"; f=$(basename {}); f=./bin/${f%.*}; go build -o $f $ff'
  workingDirectory: '$(modulePath)'
  displayName: 'Building all go projects'

- script: find . -type f \( -iname "*.csproj" \) | xargs -n1 dotnet build
  workingDirectory: '$(modulePath)'
  displayName: 'Building all csharp projects'